[Desktop Entry]
Type=Application
Exec=keurocalc -caption %c %i
Icon=keurocalc
X-DocPath=keurocalc/index.html
Terminal=false
Categories=Qt;KDE;Office;Finance;
Name=KEuroCalc
Name[be]=KEuroCalc
Name[bg]=KEuroCalc
Name[bs]=KEuroCal
Name[ca]=KEuroCalc
Name[ca@valencia]=KEuroCalc
Name[cs]=KEuroCalc
Name[da]=KEuroCalc
Name[de]=KEuroCalc
Name[el]=KEuroCalc
Name[en_GB]=KEuroCalc
Name[es]=KEuroCalc
Name[et]=KEuroCalc
Name[fi]=KEuroCalc
Name[fr]=KEuroCalc
Name[ga]=KEuroCalc
Name[gl]=KEuroCalc
Name[hi]=केयूरोकेल्क
Name[hne]=केयूरोकेल्क
Name[hr]=KEuroCalc
Name[hu]=KEuroCalc
Name[it]=KEuroCalc
Name[ja]=KEuroCalc
Name[km]=KEuroCalc
Name[ko]=KEuroCalc
Name[lt]=KEuroCalc
Name[ml]=കെയൂറോകാല്‍ക്ക്
Name[mr]=के-यूरो-केल्क
Name[nb]=KEuroCalc
Name[nds]=KEuroCalc
Name[nl]=KEuroCalc
Name[nn]=KEuroCalc
Name[pl]=KEuroCalc
Name[pt]=KEuroCalc
Name[pt_BR]=KEuroCalc
Name[ro]=KEuroCalc
Name[ru]=KEuroCalc
Name[sk]=KEuroCalc
Name[sl]=KEuroCalc
Name[sr]=K‑еврокалк
Name[sr@ijekavian]=K‑еврокалк
Name[sr@ijekavianlatin]=KEuroCalc
Name[sr@latin]=KEuroCalc
Name[sv]=Euroräknare
Name[tr]=KEuroCalc
Name[ug]=KEuroCalc
Name[uk]=KEuroCalc
Name[x-test]=xxKEuroCalcxx
Name[zh_CN]=KEuroCalc
Name[zh_TW]=KEuroCalc
GenericName=Currency converter and calculator
GenericName[ca]=Un convertidor de moneda i calculadora
GenericName[cs]=Převod měn a kalkulačka
GenericName[de]=Ein Währungsumwandler und -rechner
GenericName[es]=Conversor y calculadora de divisas
GenericName[fi]=Valuuttamuunnin ja laskin
GenericName[hu]=Valutaátváltó és számológép
GenericName[nl]=Conversie van valuta, en rekenmachine
GenericName[pl]=Kalkulator i przekształcanie waluty
GenericName[pt]=Conversor e calculadora monetário
GenericName[pt_BR]=Conversor de moedas e calculadora
GenericName[sk]=Cenový prevodník a kalkulačka
GenericName[sv]=Valutakonverterare och räknare
GenericName[uk]=Програма перетворення сум валют і калькулятор
GenericName[x-test]=xxCurrency converter and calculatorxx
Keywords=converter;euro;money;cash;calculator;
Keywords[ca]=convertidor;euro;diners;efectiu;calculadora
Keywords[cs]=převod měn;euro;peníze;hotovost;kalkulačka;
Keywords[de]=converter;euro;geld;bar;rechner;währung;cash
Keywords[es]=conversor;euro;dinero;moneda;calculadora;
Keywords[fi]=converter;euro;money;cash;calculator;muunnin;raha;käteinen;laskin;
Keywords[hu]=átváltó;euro;pénz;készpénz;számológép;
Keywords[nl]=conversie;euro;geld;contanten;rekenmachine
Keywords[pl]=przekształcanie,euro,pieniądze,waluta,kalkulator,konwerter
Keywords[pt]=conversor;euro;dinheiro;calculadora;
Keywords[pt_BR]=conversor;euro;dinheiro;calculadora;
Keywords[sk]=konvertor;euro;peniaze;hotovosť;kalkulačka;
Keywords[sv]=konvertering;euro;valuta;kontanter;räknare;
Keywords[uk]=converter;euro;money;cash;calculator;перетворювач,євро,гроші,готівка,калькулятор;
Keywords[x-test]=xxconverter;euro;money;cash;calculator;xx
