# KDE Config File
[Desktop Entry]
Type=Application
Exec=keurocalc -caption "%c" %i %m
Icon=keurocalc.png
DocPath=keurocalc/index.html
Terminal=false
Category=Application;Office;
Name=KEuroCalc
Comment=A currency converter and calculator
Keywords=converter,euro,money,cash,calculator
Encoding=UTF-8
