# KDE Config File  
[Desktop Entry]
Type=Application
Exec=keurocalc -caption "%c" %i %m  
Icon=keurocalc.png
MiniIcon=keurocalc.png
DocPath=keurocalc/index.html
Terminal=0
Name=KEuroCalc
Name[lv]=KEuroKalk
Name[sv]=Euroräknare
Comment=A currency converter and calculator
Keywords=converter,euro,money,cash,calculator
Keywords[az]=dönüşdürücü,euro,pul,nəqd,hesablayıcı,kalkulyator
Keywords[da]=konvertér,euro,penge,kontanter,regnemaskine
Keywords[de]=Konvertierung,Euro,Geld,Bargeld,Rechner
Keywords[es]=conversor,euro,monedas,dinero,calculadora
Keywords[he]=ממיר,אירו,מטבע,כסף,מחשבון
Keywords[lv]=converter,euro,nauda,cash,kalkulators
Keywords[nl]=omrekenen,euro,geld,calculator,rekenmachine,guldens
Keywords[pt]=conversor,euro,dinheiro,calculador
Keywords[pt_BR]=conversor,euro,dinheiro,calculador
Keywords[sk]=prevod,euro,mena,peniaze,kalkulačka
Keywords[sv]=översättare,euro,pengar,valuta,räknare
Keywords[xh]=umguquli, yuro, imali, inkozo, ujmatshini wokubala
Keywords[zu]=umguquleli,euro,imali,yemali,umshini wokubala
