[Desktop Entry]
Type=Application
Exec=curconvd
Icon=keurocalc
Terminal=true
Categories=Qt;KDE;Office;Finance;
Name=CurConvD
Name[ca]=CurConvD
Name[nl]=CurConvD
Name[nn]=CurConvD
Name[pt]=CurConvD
Name[sv]=Curconvd
Name[uk]=CurConvD
Name[x-test]=xxCurConvDxx
GenericName=Currency conversion service
GenericName[ca]=Servei de conversió de divises
GenericName[nl]=Service voor conversie van valuta
GenericName[nn]=Valutaomrekningsteneste
GenericName[pt]=Serviço de conversão de moeda
GenericName[sv]=Valutakonverteringstjänst
GenericName[uk]=Служба перетворення курсів валют
GenericName[x-test]=xxCurrency conversion servicexx
