[Desktop Entry]
Type=Application
Exec=curconvd
Icon=keurocalc
Terminal=true
Categories=Qt;KDE;Office;Finance;
Name=CurConvD
Name[ca]=CurConvD
Name[ca@valencia]=CurConvD
Name[cs]=CurConvD
Name[de]=CurConvD
Name[el]=CurConvD
Name[en_GB]=CurConvD
Name[es]=CurConvD
Name[et]=CurConvD
Name[fi]=CurConvD
Name[fr]=CurConvD
Name[gl]=CurConvD
Name[hi]=CurConvD
Name[ia]=CurConvD
Name[it]=CurConvD
Name[ko]=CurConvD
Name[nl]=CurConvD
Name[nn]=CurConvD
Name[pl]=CurConvD
Name[pt]=CurConvD
Name[pt_BR]=CurConvD
Name[ro]=CurConvD
Name[ru]=CurConvD
Name[sl]=CurConvD
Name[sv]=Curconvd
Name[tr]=CurConvD
Name[uk]=CurConvD
Name[x-test]=xxCurConvDxx
Name[zh_CN]=CurConvD
Name[zh_TW]=CurConvD
GenericName=Currency conversion service
GenericName[ca]=Servei de conversió de divises
GenericName[ca@valencia]=Servei de conversió de divises
GenericName[cs]=Služba převodu měn
GenericName[de]=Dienst zur Währungsumwandlung
GenericName[el]=Υπηρεσία μετατροπής νομισμάτων
GenericName[en_GB]=Currency conversion service
GenericName[es]=Servicio de conversión de divisas
GenericName[et]=Vääringute teisendamise teenus
GenericName[fi]=Valuuttamuunnospalvelu
GenericName[fr]=Service de conversion de devises
GenericName[gl]=Servizo de conversión de divisas
GenericName[hi]=करेंसी परिवर्तक सेवा
GenericName[ia]=Servicio de conversion de numerario
GenericName[it]=Servizio di conversione valuta
GenericName[ko]=환전 서비스
GenericName[nl]=Service voor conversie van valuta
GenericName[nn]=Valutaomrekningsteneste
GenericName[pl]=Usługa przeliczania waluty
GenericName[pt]=Serviço de conversão de moeda
GenericName[pt_BR]=Serviço de conversão de moedas
GenericName[ro]=Serviciu de conversie monetară
GenericName[ru]=Служба валютного калькулятора
GenericName[sl]=Storitev pretvornika valut
GenericName[sv]=Valutakonverteringstjänst
GenericName[tr]=Para birimi dönüştürme hizmeti
GenericName[uk]=Служба перетворення курсів валют
GenericName[x-test]=xxCurrency conversion servicexx
GenericName[zh_CN]=汇率转换服务
GenericName[zh_TW]=貨幣轉換服務
