[Desktop Entry]
Type=Application
Exec=curconvd
Icon=keurocalc
Terminal=true
Categories=Qt;KDE;Office;Finance;
Name=CurConvD
Name[ca]=CurConvD
Name[de]=CurConvD
Name[el]=CurConvD
Name[en_GB]=CurConvD
Name[es]=CurConvD
Name[fi]=CurConvD
Name[fr]=CurConvD
Name[gl]=CurConvD
Name[it]=CurConvD
Name[nl]=CurConvD
Name[nn]=CurConvD
Name[pl]=CurConvD
Name[pt]=CurConvD
Name[pt_BR]=CurConvD
Name[sv]=Curconvd
Name[uk]=CurConvD
Name[x-test]=xxCurConvDxx
Name[zh_TW]=CurConvD
GenericName=Currency conversion service
GenericName[ca]=Servei de conversió de divises
GenericName[de]=Dienst zur Währungsumwandlung
GenericName[el]=Υπηρεσία μετατροπής νομισμάτων
GenericName[en_GB]=Currency conversion service
GenericName[es]=Servicio de conversión de divisas
GenericName[fi]=Valuuttamuunnospalvelu
GenericName[fr]=Service de conversion de devises
GenericName[gl]=Servizo de conversión de divisas
GenericName[it]=Servizio di conversione valuta
GenericName[nl]=Service voor conversie van valuta
GenericName[nn]=Valutaomrekningsteneste
GenericName[pl]=Usługa przeliczania waluty
GenericName[pt]=Serviço de conversão de moeda
GenericName[pt_BR]=Serviço de conversão de moedas
GenericName[sv]=Valutakonverteringstjänst
GenericName[uk]=Служба перетворення курсів валют
GenericName[x-test]=xxCurrency conversion servicexx
GenericName[zh_TW]=貨幣轉換服務
